
/* Mutliple Secions CSS Stylings */
:root {
    --bgDark: #E7EFED;
    --bgLight: #FFFFFF;
    --textClrDark: #1C3041;
    --textClrLight: #b6b2c2;
    --textEmph: #04E824;
    --altColor: #35605A;
    --lineColorDk: #04724d;
    --lineColorLg: #B6CEC8;

}

body {
    font-family: "Ubuntu"; 
    height: 100%;
    background-color: var(--bgDark);
}

.flexContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 80vw;
}

.blockContainer {
    display: block;
    flex-wrap: wrap;
    height: 100vh;
    width: 80vw;
    padding-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    padding: 0 5% 0 5%;
    width: 90%;
    max-width: 1550px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    color: var(--textClrDark);
    margin-left: 15%;
}

.title {
    width: 100%;
    padding-left: 15px;
}


.title h2 {
    font-size: 72px;
    font-family: "Josefin Sans";
    position: relative;
}

.title h2::after{
    content: '';
    position: absolute;
    border-radius: 0 8px 8px 0px;
    bottom: 0px;
    left: -13px;
    height: 5px;
    width:  120px;
    background: var(--lineColorDk);
}

.rowContent {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 15px;
    background: var(--bgLight);
    border-radius: 8px;
    width: 80vw;
}

.rowContent::before {
    content: '';
    position: absolute;
    height: 35px;
    width: 85px;
    top:-5px;
    left: -8px;
    border-top: 8px solid var(--lineColorDk);
    border-left: 8px solid var(--lineColorDk);
        
}

.rowContent::after {
    content: '';
    position: absolute;
    height: 35px;
    width: 100px;
    bottom: -5px;
    right: -8px;
    border-bottom: 8px solid var(--lineColorDk);
    border-right: 8px solid var(--lineColorDk);
}

.mainText {
    display: block;
}

.mainText h1 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-left: -5px;
    position: relative;
}

.mainText h1:after {
    content: '';
    position: absolute;
    border-radius: 8px;
    bottom: -10px;
    left: 15px;
    height: 2px;
    width:  100px;
    background: var(--lineColorDk);

}

.mainText p {
    font-size:   24px;
    margin-left: 32px;
    margin-top: 20px;
}

.center {
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}
 

/* Sidebar Stlying ---------------------------------------------------------------*/

.sidebar {
    display: block;
    justify-content: center;
    height: 100%;
    color: var(--textClrDark);
    background: var(--bgLight);
    border-right: 1px solid var(--lineColorDk);
    color: var(--textClrDark);
    position: fixed;
    width: 15vw;
    min-width: 215px;

}

.sidebar ul {
    display: block;
    font-size: 24px;
    justify-content:center;
    text-align:center;
    margin: 20px 0px 20px 0px;
}

.sidebar li {
    display: inline-block;
    font-size: 22px;
    width: 50%;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--lineColorDk);
}

.sidebar h1 {
    font-size: 34px;
    margin-top: 40vh;
    text-align:center; 
}

.sidebar span {
    color: var(--textEmph);
    font-family: "Expletus Sans";
    font-weight: 700;
}


/* Home Section Stlying ------------------------------------------------------*/

.homeImage {
    flex: 0 0 40%;
    max-width: 40%;
    margin: auto;
    text-align: center;
}
.homeImage img {
    width: 90%;
    border-radius: 10px;
}

/* About Section Stlying ----------------------------------------------------------*/
.about-text {
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
}

.cardContainer {
    display: grid;
    grid-template-columns: 375px 375px;
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 150px;
    grid-row-gap: 15px;
}

.skillCard h3 {
    position: relative;
    font-family: "Josefin Sans";
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    border: 5px solid var(--lineColorDk);
    border-radius: 25px 25px 0px 0px;
    background: var(--altColor);
    color: white;
}

.dropdown {
    background: white;
    margin-top: -5px;
    padding-top: 10px;
    height: 150px;
    width: 375px;
    border: 5px solid var(--lineColorDk);
    border-radius: 0px 0px 25px 25px;
}

.skillCard li{
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 30px;
}


/* Work Stylings -----------------------------------------------------------------*/ 

.workCard:hover {
    transform: scale(1.10);
}

.workCardContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 450px 450px;
    grid-column-gap: 50px;
    grid-row-gap: 15px;
    margin-top: 35px;
    width: 80vw;
    border: 2px solid black;
}

.workCard {
    display:flex;
    flex-wrap: wrap;
    width: 280px;
    height: 450px;
    text-align: center;
    background: white;
    border-radius: 15px;
    transition: 0.5s ease;
    cursor: pointer;
}

.cardImage {
    width: 100%;
    height: 200px;
}

.cardImage img {
    width: 100%;
    height: 200px;
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
}

.cardText {
    width: 100%;
    height: 200px;
}

.cardText h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.cardSkills2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background: var(--altColor);
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
}

.cardSkills3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background: var(--altColor);
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
}

.cardSkills p {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact Me Stylings ------------------------------------------------------*/

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
}

.btns button {
    border: 2px solid var(--lineColorDk);
    border-radius: 8px;
    background: var(--bgDark);
    padding: 20px 40px;
    color: var(--lineColorDk);
    font-size: 28px;
    margin: 0 15px;

}




/* Responsive Styles Size 1280 x 800 -------------------------------- */

@media screen and (max-width: 1280px) { 
    
    .rowContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 125px;
        text-align: center;
        width:50vw;
        height: 40vh;
        border: 2px solid black;
    }

    .mainText {
        align-items: center;
        margin: 0 auto 0 auto;
    }

    .mainText h1 {
        font-size: 32px;
        margin-bottom: 15px;
        margin-left: -5px;
        position: relative;
    }
    
    .mainText h1:after {
        bottom: -10px;
        left: 27%;
        width: 300px;
    }

    .mainText p {
        font-size: 16px;
        margin-left: 20%;
        width: 60%;
        border: 2px solid green;
    }

    .homeImage img{
        width: 200px;
    }

    .title h2{
        font-size: 48px;
        padding-left: 25px;
    }

    .title h2::after {
        left: 8px;
    }

    .about-text {
        font-size: 12px;
        width: 600px;
        padding: 0;
        margin-top: 10px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: repeat(4, 100px);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .skillCard h3 {
        grid-template-columns: 200px 200px;
        grid-column-gap: 0px;
        font-size: 12px;
        border-radius: 25px;
        width: 300px
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px black;
        z-index: 1;
      }

    .skillCard:hover .dropdown {display: block;}


    .workCardContainer {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 250px 250px;
        grid-column-gap: 50px;
        grid-row-gap: 15px;
        margin-top: 35px;
        width: 80vw;
        border: 2px solid black;
    }

    .workCard {
        display:flex;
        flex-wrap: wrap;
        width: 135px;
        height: 250px;
        text-align: center;
        background: white;
        border-radius: 15px;
        transition: 0.5s ease;
        cursor: pointer;
    }
    
    .cardImage {
        width: 100%;
        height: 100px;
    }
    
    .cardImage img {
        width: 100%;
        height: 100px;
        border: 2px solid white;
        border-radius: 15px 15px 0px 0px;
    }
    
    .cardText {
        width: 100%;
        height: 100px;
    }
    
    .cardText h3 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    
    .cardSkills2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        color: white;
        background: var(--altColor);
        font-size: 20px;
        border-radius: 0px 0px 15px 15px;
    }
    
    .cardSkills3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        color: white;
        background: var(--altColor);
        font-size: 20px;
        border-radius: 0px 0px 15px 15px;
    }
    
    .cardText p {
        display: none;

    }
    
}

