
/* Mutliple Secions CSS Stylings */
:root {
    --bgDark: #E7EFED;
    --bgLight: #FFFFFF;
    --textClrDark: #1C3041;
    --textClrLight: #b6b2c2;
    --textEmph: #04E824;
    --altColor: #35605A;
    --lineColorDk: #04724d;
    --lineColorLg: #B6CEC8;

}

html {
    height: 100%;
    position: relative;
}

body {
    font-family: "Ubuntu"; 
    height: 100%;
    background-color: var(--bgDark);
}

.flexContainer {
    display: flex;
    align-items: center;
    height: 100vh;
}

.blockContainer {
    display: block;
    flex-wrap: wrap;
    height: 100vh;
    width: 80vw;
    padding-top: 20px;
    min-height: 1920px;
}

.row {
    display: flex;
    justify-content: center;
    padding: 0 5% 0 5%;
    width: 80vw;
    max-width: 1550px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    color: var(--textClrDark);
    padding-left: 15%;
}

.title {
    width: 100%;
    padding-left: 15px;
}


.title h2 {
    font-size: 72px;
    font-family: "Josefin Sans";
    position: relative;
}

.title h2::after{
    content: '';
    position: absolute;
    border-radius: 0 8px 8px 0px;
    bottom: 0px;
    left: -13px;
    height: 5px;
    width:  120px;
    background: var(--lineColorDk);
}

.rowContent {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 15px;
    background: var(--bgLight);
    border-radius: 8px;
}

.rowContent::before {
    content: '';
    position: absolute;
    height: 35px;
    width: 85px;
    top:-5px;
    left: -8px;
    border-top: 8px solid var(--lineColorDk);
    border-left: 8px solid var(--lineColorDk);
        
}

.rowContent::after {
    content: '';
    position: absolute;
    height: 35px;
    width: 100px;
    bottom: -5px;
    right: -8px;
    border-bottom: 8px solid var(--lineColorDk);
    border-right: 8px solid var(--lineColorDk);
}

.mainText {
    position: relative;
    max-width: 60%;
}

.mainText h1 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-left: -5px;
    position: relative;
}

.mainText h1:after {
    content: '';
    position: absolute;
    border-radius: 8px;
    bottom: -10px;
    left: 15px;
    height: 2px;
    width:  100px;
    background: var(--lineColorDk);

}

.mainText p {
    font-size:   24px;
    margin-left: 32px;
    margin-top: 20px;
}

.center {
    text-align: center;
    margin-left: 25%;
}

a {
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}
 

/* Sidebar Stlying ---------------------------------------------------------------*/

.sidebar {
    display: block;
    justify-content: center;
    height: 100%;
    color: var(--textClrDark);
    background: var(--bgLight);
    border-right: 1px solid var(--lineColorDk);
    color: var(--textClrDark);
    position: fixed;
    width: 15vw;
    min-width: 215px;

}

.sidebar ul {
    display: block;
    font-size: 24px;
    justify-content:center;
    text-align:center;
    margin: 20px 0px 20px 0px;
}

.sidebar li {
    display: inline-block;
    font-size: 22px;
    width: 50%;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--lineColorDk);
}

.sidebar h1 {
    font-size: 34px;
    margin-top: 40vh;
    text-align:center; 
}

.sidebar span {
    color: var(--textEmph);
    font-family: "Expletus Sans";
    font-weight: 700;
}


/* Home Section Stlying ------------------------------------------------------*/

.homeImage {
    flex: 0 0 40%;
    max-width: 40%;
    margin: auto;
    text-align: center;
}
.homeImage img {
    max-width: 350px;
    border-radius: 10px;
}

/* About Section Stlying ----------------------------------------------------------*/
.about-text {
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 35px;
}

.cardContainer {
    display: grid;
    grid-template-columns: 375px 375px;
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 150px;
    grid-row-gap: 15px;
}

.skillCard h3 {
    position: relative;
    font-family: "Josefin Sans";
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 15px;
    border: 5px solid var(--lineColorDk);
    border-radius: 25px 25px 0px 0px;
    background: var(--altColor);
    color: white;
}

.skillCard h3::after {
    content: '';
    position:absolute;
    top: 25px;
    left: -5px;
    background: white;
    height: 150px;
    width: 365px;
    border: 5px solid var(--lineColorDk);
    border-radius: 0px 0px 25px 25px;
    z-index: -1;
}

.skillCard li{
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 30px;
}


/* Work Stylings -----------------------------------------------------------------*/ 

.workCard:hover {
    transform: scale(1.10);
}

.workCardContainer {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 450px 450px;
    grid-row-gap: 15px;
    margin-top: 35px;
    width: 100vw;
}

.workCard {
    display:flex;
    flex-wrap: wrap;
    width: 280px;
    height: 450px;
    text-align: center;
    background: white;
    border-radius: 15px;
    transition: 0.5s ease;
    cursor: pointer;
}

.cardImage {
    width: 100%;
    height: 200px;
}

.cardImage img {
    width: 100%;
    height: 200px;
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
}

.cardText {
    width: 100%;
    height: 200px;
}

.cardText h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.cardSkills2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background: var(--altColor);
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
}

.cardSkills3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background: var(--altColor);
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid yellow;
}

.cardSkills p {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact Me Stylings ------------------------------------------------------*/

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
}

.btns button {
    border: 2px solid var(--lineColorDk);
    border-radius: 8px;
    background: var(--bgDark);
    padding: 20px 40px;
    color: var(--lineColorDk);
    font-size: 28px;
    margin: 0 15px;

}

/* Responsive Styles Size 1280 x 800 -------------------------------- */

@media screen and (max-width: 1280px) {
    .rowContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px;
        text-align: center;
    }

    .mainText {
        align-items: center;
        margin: 0 auto 0 auto;
    }

    .rowContent h1 {
        font-size: 32px;
    }

    .rowContent img{
        width: 250px;
        padding-bottom: 20px;

    }

    .title h2{
        font-size: 48px;
        padding-left: 25px;
    }

    .title h2::after {
        left: 8px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: repeat(4, 100px);
        grid-column-gap: 150px;
        grid-row-gap: 15px;
        border: 2px solid red;
    }

    .skillCard h3 {
        border-radius: 25px;
    }
    
    .skillCard h3::after {
        background: red;
    }
    
    .skillCard ul {
        display: none;
    }

    .skillCard h3:hover .skillCard h3::after {
        display: blue;
    }
}

