
:root {
    --bgDark: #E7EFED;
    --bgLight: #FFFFFF;
    --textClrDark: #1C3041;
    --textClrLight: #b6b2c2;
    --textEmph: #04E824;
    --lineColor: #04724d;
}

body {
    font-family: "Prompt"; 
}

.container { 
    display:flex;
}


.sidebar {
    display: block;
    justify-content: center;
    width: 20vw;
    height: 100vh;
    color: var(--textClrDark);
    background: var(--bgLight);
    border-right: 1px solid var(--lineColor);
}

.sidebar ul li{
    font-size: 24px;
    text-align:center;
    margin: 20px;
   
}

.sidebar h1 {
    font-size: 36px;
    margin-top: 40vh;
    text-align:center;
   
}

.sidebar span {
    color: var(--textEmph);
    font-family: "Expletus Sans";
    font-weight: 700;
}

.content{
    width: 80%;
    height: 100vh;
    border: 5px solid var(--ligthColor);
    background: var(--bgDark);
    color: var(--textClrDark);
    background: var(--bgDark);
    border: 5px solid var(--midColor3);
}

.homeContainer {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
}

.homeContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid var(--lineColor);
    
}

.row {
    display: flex;
    height: 25%;
    width: 100%;
    padding: 15px;
    margin: 20px;
    background: var(--bgLight);
    border-radius: 8px;
}

.home-text {
    flex: 0 0 60%;
    position: relative;
    max-width: 60%;
    margin-left: 10px;
}

.home-text::before {
    content: '';
    position: absolute;
    height: 35px;
    width: 85px;
    top: -22px;
    left: -32px;
    border-top: 8px solid var(--lineColor);
    border-left: 8px solid var(--lineColor);
}

.home-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-left: -18px;
    position: relative;
}

.home-text h1::after {
    content: '';
    position: absolute;
    top: 55px;
    left: 25px;
    border-bottom: 2px solid var(--lineColor);
    width: 100px;
    border-radius: 10px;
}

.home-text p {
    font-size:   24px;
    margin-left: 16px;

}

.homeImage {
    position: relative;
    flex: 0 0 40%;
    max-width: 40%;
    margin: auto;
    text-align: center;
}

.homeImage::after {
    content: '';
    position: absolute;
    height: 35px;
    width: 100px;
    bottom: -16px;
    right: -10px;
    border-bottom: 8px solid var(--lineColor);
    border-right: 8px solid var(--lineColor);
}

.homeImage img {
    height:  300px;
    max-width: 100%;
    border-radius: 10px;
}